@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kings&display=swap');
@import "tailwindcss";

@theme {
  --color-black: #222123;
  --color-white: #e9e8e4;
  --color-blue: #4FC3F7;
}

@layer utilities {
    .flex-center {
        @apply flex justify-center items-center;
    }

    .absolute-center {
        @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2
    }
}

@layer components {
    .font-logo {
        font-family: "Oswald", serif;
    }

    .font-secondary {
        font-family: "Lato", sans-serif;
    }

    .font-formal {
        font-family: "Kings", cursive;
    }

    .page-wrapper {
        @apply min-h-dvh w-full flex justify-center items-center;
    }
}